* {
    box-sizing: border-box;
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
    padding: 10px 20px;
    background-color: beige;
}

.logo {
    margin-left: 10px;
}

.midpart {
    display: flex;
    gap: 20px; 
}

.midpart a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.midpart a:hover{
    transform: scale(1.1);
    background-color: #25D366;
    color: white;
}
.lastpart {
    display: flex;
    align-items: center;
    gap: 20px;
}

body {
    background-color: white;
}

.search-form {
    display: flex;
    align-items: center;
}
.content {
    background-image: url("../images/bgbody.jpg");
    background-position : center;
    background-size: cover;
    background-repeat: no-repeat;    
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallcont {background-color: rgb(255, 255, 255, 0.55);
    border-radius: 10px;
    padding: 10px 20px;      
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.smallcont button{
    font-size: medium;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
}
.smallcont button:hover{
    background-color: #25D366;
    color: white;
    transform: scale(1,0.8);
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color: whitesmoke;
    padding: 10px 20px;
    margin-top: 20px;
}

.why {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: beige;
    padding: 20px 50px;
}
.footer {
    margin-top: 30px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: gainsboro;
}

.f4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:grayblack;
    color: rgb(0, 0, 0);
}
.f4 img{
    width: 120px;
}

.f1 a, .f2 a, .f3 a {
    text-decoration: none;
    color: black;
}