* {
    box-sizing: border-box;
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
    padding: 10px 20px;
    background-color: beige;
}

.logo {
    margin-left: 10px;
}

.midpart {
    display: flex;
    gap: 20px;
}
.midpart a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.midpart a:hover{
    transform: scale(1.1);
    background-color: #25D366;
    color: white;
}


.lastpart {
    display: flex;
    align-items: center;
    gap: 20px;
}

body {
    background-color: white;
}

.fash {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    list-style: none;
}
.fash a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.Fashion {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
 
.brand {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    list-style: none;
    
}
.FS1 h2{
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

.brand1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 30px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: gainsboro;
}

.f4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:grayblack;
    color: rgb(0, 0, 0);
}
.f4 img{
    width: 120px;
}

.f1 a, .f2 a, .f3 a {
    text-decoration: none;
    color: black;
}