
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 0;
    padding 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.firstbar{
    display: flex;
    justify-content: space-between;
    padding:40px;
    position: fixed;
    background-color: black;
    width: 100%;
    margin-top: 0;
}

.name {
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
}
.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.brief h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
}

.brief {
    font-size: 20px;
    padding: 100px 20px 20px;
    height: 300px;
    margin-bottom: 10px;
    font-family: monospace;
}

.latest {
    display: flex;
}

.pic {
    margin-left: 20px;
    
}

.pic img{
    width: 300px;
    border-radius: 10px;
}

.aside-pic {
    padding: 20px;
    margin-left: 30px;
    font-size: 24px;
    font-style: italic;
}
.aside-pic h3{
    font-size: 50px;
}